extends layout

block content
  h1= title
  p Welcome to #{title}
  p Number of Visits: #{cnt}
  if linkClicked == 'Testing'
    p testing
  else
    p not testing
  p
    a(href='/?clicked=Testing') Testing
  p 
    a(href='/?clicked=Services') Services
  p 
  p
    a(href='/products') Products
